<!-- <app-ma4jay3></app-ma4jay3> -->
<!-- <app-action-bar (numberChange)="actionBN1=$event;sumR()" [notBelow]=0 [step] =5 [notMore] = 100></app-action-bar>actionBN1 = {{actionBN1 }}
<app-action-bar [number]="actionBN2" (numberChange)="actionBN2=$event;sumR()"[notBelow]=0 [step] =10 [notMore] = 200></app-action-bar>actionBN2 = {{actionBN2 }}
<app-action-bar [number]="actionBN3" (numberChange)="actionBN3=$event;sumR()"[notBelow]=0 [step] =20 [notMore] = 300></app-action-bar>actionBN3 = {{actionBN3 }}
<div>
  ผลรวม {{result}}
</div>
<input type="text" pInputText /> -->
<div class="D">
  <header>
   นี้ส่วน header
  </header>
  <main>นี้ส่วน main</main>
</div>